* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/deep_space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 13.3s ease-out;
  transition: all 0.3s 13.3s ease-out;
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 100;
}
#loader-wrapper .section-left {
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: transform 10s 3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 10s 3s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: splashOut 13s;
}
#loader-wrapper .section-right {
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 10s 3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 10s 3s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: splashOut 13s;
}
#loader-wrapper #splashMessage {
  position: relative;
  color: white;
  z-index: 100;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  max-width: 50%;
  margin: 0 auto;
  top: 40vh;
  opacity: 0;
  -webkit-transition: all 4s ease-out;
  transition: all 4s ease-out;
  animation-name: fadeOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 5.3s;
}
#loader-wrapper #splashMessage h1 {
  font-size: 4.5em;
}
#loader-wrapper #splashMessage h2 {
  font-size: 2.3em;
}

#aboutMeToggle {
  display: none;
}

#codeToggle {
  display: none;
}

#myHobbiesToggle {
  display: none;
}

#contactToggle {
  display: none;
}

#headerUnderlay {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid grey;
  /* background: black; */
  /* opacity: 0.2; */
  background: linear-gradient(black, rgba(0, 0, 0, 0.2));
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: inline-flex;
}
#header #myFace {
  /* outline: 2px solid red; */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 1;
  z-index: 1;
}
#header #headerNavLayout {
  width: 80%;
  display: inline-flex;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#header #headerNavLayout .headerNav {
  width: 25%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: purple;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 40%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  z-index: 1;
  opacity: 0.9;
  transition: transform 0.2s;
  cursor: crosshair;
}
#header #headerNavLayout .headerNav:hover {
  transform: scale(1.15);
}
#header #headerNavLayout .headerNav a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 700px) {
  #header #headerNavLayout .headerNav {
    display: none;
  }
}
#header #headerNavLayout #astroHelmet {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 2;
  left: 100%;
}
@media only screen and (min-width: 700px) {
  #header #headerNavLayout #astroHelmet {
    display: none;
  }
}
#header svg {
  position: absolute;
  width: 100%;
  margin: 0 auto;
}
#header svg #star1 {
  animation: flicker 3s ease alternate infinite;
  fill: green;
}
#header svg #star2 {
  animation: flicker 2s ease alternate infinite;
  fill: blue;
}
#header svg #star3 {
  animation: flicker 3s ease alternate infinite;
  fill: yellow;
}
#header svg #star4 {
  animation: flicker 4s ease alternate infinite;
  fill: pink;
}
#header svg #star5 {
  animation: flicker 5s ease alternate infinite;
  fill: silver;
}
#header svg #star6 {
  animation: flicker 3s ease alternate infinite;
  fill: brown;
}
#header svg #star7 {
  animation: flicker 5s ease alternate infinite;
  fill: red;
}
#header svg #star8 {
  animation: flicker 2s ease alternate infinite;
  fill: orange;
}
#header svg #star9 {
  animation: flicker 3s ease alternate infinite;
  fill: gold;
}
#header svg #star10 {
  animation: flicker 5s ease alternate infinite;
  fill: #14f4e8;
}
#header svg #star11 {
  animation: flicker 2s ease alternate infinite;
  fill: #1e4de8;
}
#header svg #star12 {
  animation: flicker 5s ease alternate infinite;
  fill: #910c0c;
}
#header svg #star13 {
  animation: flicker 3s ease alternate infinite;
  fill: #16fbff;
}
#header svg #star14 {
  animation: flicker 4s ease alternate infinite;
  fill: #a9179d;
}
#header svg #star15 {
  animation: flicker 5s ease alternate infinite;
  fill: #4904a9;
}
#header svg #star16 {
  animation: flicker 2s ease alternate infinite;
  fill: #faf315;
}
#header svg #star17 {
  animation: flicker 5s ease alternate infinite;
  fill: #e48209;
}
#header svg #star18 {
  animation: flicker 3s ease alternate infinite;
  fill: #c22a6c;
}
#header svg #star19 {
  animation: flicker 3s ease alternate infinite;
  fill: #4de2cc;
}
#header svg #star20 {
  animation: flicker 4s ease alternate infinite;
  fill: #f596a6;
}

.space {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
}
.space:nth-child(2) {
  transform: rotate(180deg);
}
.space:nth-child(2) .space__particle:nth-child(1) {
  top: 15px;
  width: 50%;
  height: 3%;
  animation: particlemove 51s infinite;
}
.space:nth-child(2) .space__particle:nth-child(7) {
  top: 14px;
  width: 50%;
  height: 4%;
  animation: particlemove 51s infinite;
  background: linear-gradient(to right, rgba(255, 5, 1, 0), rgba(255, 255, 255, 0.8));
}
.space:nth-child(2) .space__particle:nth-child(2) {
  top: 45px;
  width: 50%;
  height: 5%;
  animation: particlemove 28s infinite;
}
.space:nth-child(2) .space__particle:nth-child(8) {
  top: 44px;
  width: 50%;
  height: 6%;
  animation: particlemove 28s infinite;
  background: linear-gradient(to right, rgba(255, 5, 1, 0), rgba(255, 255, 255, 0.8));
}
.space:nth-child(2) .space__particle:nth-child(3) {
  top: 130px;
  width: 50%;
  height: 2%;
  animation: particlemove 30s infinite;
}
.space:nth-child(2) .space__particle:nth-child(9) {
  top: 129px;
  width: 50%;
  height: 3%;
  animation: particlemove 30s infinite;
  background: linear-gradient(to right, rgba(255, 5, 1, 0), rgba(255, 255, 255, 0.8));
}
.space:nth-child(2) .space__particle:nth-child(4) {
  top: 145px;
  width: 50%;
  height: 6%;
  animation: particlemove 46s infinite;
}
.space:nth-child(2) .space__particle:nth-child(10) {
  top: 144px;
  width: 50%;
  height: 7%;
  animation: particlemove 46s infinite;
  background: linear-gradient(to right, rgba(255, 5, 1, 0), rgba(255, 255, 255, 0.8));
}
.space:nth-child(2) .space__particle:nth-child(5) {
  top: 86px;
  width: 50%;
  height: 1%;
  animation: particlemove 42s infinite;
}
.space:nth-child(2) .space__particle:nth-child(11) {
  top: 85px;
  width: 50%;
  height: 2%;
  animation: particlemove 42s infinite;
  background: linear-gradient(to right, rgba(255, 5, 1, 0), rgba(255, 255, 255, 0.8));
}
.space:nth-child(2) .space__particle:nth-child(6) {
  top: 112px;
  width: 50%;
  height: 8%;
  animation: particlemove 15s infinite;
}
.space:nth-child(2) .space__particle:nth-child(12) {
  top: 111px;
  width: 50%;
  height: 9%;
  animation: particlemove 15s infinite;
  background: linear-gradient(to right, rgba(255, 5, 1, 0), rgba(255, 255, 255, 0.8));
}
.space .space__particle {
  border-top-right-radius: 43%;
  border-bottom-right-radius: 43%;
  position: absolute;
}
.space .space__particle:nth-child(1) {
  top: 10px;
  width: 50%;
  height: 5%;
  background: linear-gradient(to right, rgba(1, 98, 255, 0), #0162ff);
  animation: particlemove 25s infinite;
}
.space .space__particle:nth-child(7) {
  top: 9px;
  width: 50%;
  height: 6%;
  background: linear-gradient(to right, rgba(1, 98, 255, 0), rgba(255, 255, 255, 0.8));
  animation: particlemove 25s infinite;
}
.space .space__particle:nth-child(2) {
  top: 40px;
  width: 50%;
  height: 2%;
  background: linear-gradient(to right, rgba(22, 255, 1, 0), #16ff01);
  animation: particlemove 40s infinite;
}
.space .space__particle:nth-child(8) {
  top: 39px;
  width: 50%;
  height: 3%;
  background: linear-gradient(to right, rgba(22, 255, 1, 0), rgba(255, 255, 255, 0.8));
  animation: particlemove 40s infinite;
}
.space .space__particle:nth-child(3) {
  top: 70px;
  width: 50%;
  height: 6%;
  background: linear-gradient(to right, rgba(255, 5, 1, 0), #ff0501);
  animation: particlemove 22s infinite;
}
.space .space__particle:nth-child(9) {
  top: 69px;
  width: 50%;
  height: 7%;
  background: linear-gradient(to right, rgba(255, 5, 1, 0), rgba(255, 255, 255, 0.8));
  animation: particlemove 22s infinite;
}
.space .space__particle:nth-child(4) {
  top: 100px;
  width: 50%;
  height: 1%;
  background: linear-gradient(to right, rgba(1, 98, 255, 0), #0162ff);
  animation: particlemove 50s infinite;
}
.space .space__particle:nth-child(10) {
  top: 99px;
  width: 50%;
  height: 2%;
  background: linear-gradient(to right, rgba(255, 5, 1, 0), rgba(255, 255, 255, 0.8));
  animation: particlemove 50s infinite;
}
.space .space__particle:nth-child(5) {
  top: 130px;
  width: 50%;
  height: 8%;
  background: linear-gradient(to right, rgba(22, 255, 1, 0), #16ff01);
  animation: particlemove 18s infinite;
}
.space .space__particle:nth-child(11) {
  top: 129px;
  width: 50%;
  height: 9%;
  background: linear-gradient(to right, rgba(255, 5, 1, 0), rgba(255, 255, 255, 0.8));
  animation: particlemove 18s infinite;
}
.space .space__particle:nth-child(6) {
  top: 160px;
  width: 50%;
  height: 5%;
  background: linear-gradient(to right, rgba(255, 5, 1, 0), #ff0501);
  animation: particlemove 30s infinite;
}
.space .space__particle:nth-child(12) {
  top: 159px;
  width: 50%;
  height: 6%;
  background: linear-gradient(to right, rgba(255, 5, 1, 0), rgba(255, 255, 255, 0.8));
  animation: particlemove 30s infinite;
}

.themeSwap {
  width: 10%;
  height: 17px;
  border-radius: 5px;
}
.themeSwap:focus {
  outline: 0;
}

.themeSwap__left {
  position: absolute;
  left: 0;
  background: black;
  color: white;
  border: 1px solid lightgrey;
  cursor: cell;
  z-index: 2;
}

.themeSwap__right {
  position: absolute;
  right: 0;
  background: white;
  color: black;
  border: 1px solid lightgrey;
  cursor: cell;
  z-index: 2;
}

a {
  font-family: "Open Sans Condensed", Helvetica, "Segoe UI", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
  cursor: crosshair;
}

h1, h2 {
  font-family: "Play", Helvetica, "Segoe UI", sans-serif;
  font-size: 50px;
  color: rgba(255, 5, 1, 0);
  -webkit-text-stroke: 1px white;
}

p, li {
  font-family: "Open Sans Condensed", Helvetica, "Segoe UI", sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
}

#titles {
  position: absolute;
  top: -589px;
  width: 18em;
  height: 30em;
  bottom: 0;
  left: 50%;
  margin-left: -8em;
  font-size: 350%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(1000px) rotateX(25deg);
}
#titles:after {
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(top, black 0%, transparent 100%);
  pointer-events: none;
}

#titleContent {
  position: absolute;
  top: 100%;
  animation: scroll 100s linear 4s;
}

/*# sourceMappingURL=darkTheme.css.map */

#trendingPage {
  position: relative;
  top: 15px;
  border: 1px solid grey;
  border-radius: 5px;
}

#catJif {
  height: 125px;
}